
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>News Feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
        <ion-item ng-if="newItems.length > 0" ng-click="doRefresh()">
            {{items.length}} items
        </ion-item>
        <ion-item  ng-if="items.length > 0" class="item-avatar" *ngFor="let item of items">
            <h2>{{item.title}}</h2>
            <p>{{item.pubDate}}</p>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
</ion-content>
